/*DROPDOWN MENU*/
#menu{
	padding:0;
	margin: 0 auto;
}

#menu ul{
	padding:0;
	margin:0;
}

#menu li{
	position: relative;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

#menu li a{
	width:150px;
	height: 30px;
	display: block;
	text-decoration:none;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	background-color: rgb(162,113,66);
	color: white;
}

#menu li a:hover{
	background-color: white;
	color: rgb(162,113,66);
}

#menu ul ul{
	position: absolute;
	top: 30px;
	visibility: hidden;
}

#menu ul li:hover ul{
	visibility:visible;
}

/*WEB BUTTON*/
.btn-thanhtd{
	color:#fff;
	background-color:rgb(162,113,66);
	border-color:#4cae4c;
}
	.btn-thanhtd.active,.btn-thanhtd.focus,.btn-thanhtd:active,.btn-thanhtd:focus,.btn-thanhtd:hover,.open>.dropdown-toggle.btn-thanhtd{
		color:#fff;
		background-color:#449d44;
		border-color:#398439
}
.btn-thanhtd.active,.btn-thanhtd:active,.open>.dropdown-toggle.btn-thanhtd{
	background-image:none
}
	.btn-thanhtd.disabled,.btn-thanhtd.disabled.active,.btn-thanhtd.disabled.focus,.btn-thanhtd.disabled:active,.btn-thanhtd.disabled:focus,.btn-thanhtd.disabled:hover,.btn-thanhtd[disabled],.btn-thanhtd[disabled].active,.btn-thanhtd[disabled].focus,.btn-thanhtd[disabled]:active,.btn-thanhtd[disabled]:focus,.btn-thanhtd[disabled]:hover,fieldset[disabled] .btn-thanhtd,fieldset[disabled] .btn-thanhtd.active,fieldset[disabled] .btn-thanhtd.focus,fieldset[disabled] .btn-thanhtd:active,fieldset[disabled] .btn-thanhtd:focus,fieldset[disabled] .btn-thanhtd:hover{
	background-color:#5cb85c;
	border-color:#4cae4c
}

.btn-thanhtd .badge{
	color:#5cb85c;
	background-color:#fff
}